<div class="wrap">
    <div class="maylike">
        <p class="sm-like">We thought</p>
        <p class="biglike">you might like these too...</p>
    </div>

    <div class="grid-container2">
        <div class="pr1">
            <a href="#"><img src="img/product1.png" alt="product1"></a>
            <span class="product-description"><a href="#">leather bag</a></span>
            <span class="price-sm">$78</span>
            <p class="sm-category">Bag</p>

        </div>
        <div class="pr2">
            <a href="#"><img src="img/product2.png" alt="product2"></a>
            <span class="product-description"><a href="#">gift box colors</a></span>
            <span class="price-sm">$78</span>
            <p class="sm-category">Gift</p>
        </div>
        <div class="pr3">
            <a href="#"><img src="img/product3.png" alt="product3"></a>
            <span class="product-description"><a href="#">flyknit lunar 3</a></span>
            <span class="price-sm">$78</span>
            <p class="sm-category">Running shoes</p>
        </div>
        <div class="pr4">
            <a href="#"><img src="img/product4.png" alt="product4"></a>
            <span class="product-description"><a href="#">wallets leather</a></span>
            <span class="price-sm">$78</span>
            <p class="sm-category">Accessories</p>
        </div>
        <div class="pr5">
            <a href="#"><img src="img/product5.png" alt="product5"></a>
            <span class="product-description"><a href="#">shoes men</a></span>
            <span class="price-sm">$78</span>
            <p class="sm-category">Running shoes</p>
        </div>
</div>