<header>
    <div class="header-l">
            <div class="logo"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
            <div class="menu">
                <div class="dropdown">
                    <input type="checkbox" id="menumob">
                    <label for="menumob"> </label>
                    <div class="navigation-mob"> 
                        <nav>
                            <a href="#">home</a>
                            <a href="#">products</a>
                            <a href="#">lookbook</a>
                            <a href="#">collection</a>
                        </nav>
                    </div>
                </div>
                <nav class="full-menu">
                    <a href="#">home</a>
                    <a href="#">products</a>
                    <a href="#">lookbook</a>
                    <a href="#">collection</a>
                </nav>
            </div>
    </div>
    <div class="header-r">
        <div class="bag"><a href="#">Bag</a>
            <span class="number"><a href="#">3</a></span> 
        </div>
        <div class="login"><a href="#">Login<span class="line">|</span></a></div>
        <!-- <div class="line">|</div> -->
        <div class="signup"><a href="#">Sign up</a></div>
    </div>
</header>