<div class="wrap">
    <div class="grid-container">
        <div class="item1">
            <div class="adress"><span class="man-icon"><img src="img/man-icon.png" alt="man"> </span><a href="#">Men Clothes ></a> <a href="#">Coat & Jacket</a></div>
            <a class="headline" href="#">lightweight nylon knitweat in black</a>
            </div>      

        <div class="item2"><img src="img/big-bag.png" alt="bigbag"></div>
        <div class="item3"><a href="#"><img src="img/bag1.png" alt="bag1"></a></div>
        <div class="item4"><a href="#"><img src="img/bag2.png" alt="bag2"></a></div>  
        
        <div class="item5">
            <div class="price">$48.00</div>
            <h4>Description</h4>

            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo voluptatum illum fuga, sunt in voluptatibus perferendis soluta accusantium voluptatem eum, labore, cum!

            <br>Officia aperiam pariatur est temporibus facere nemo consequatur, sunt voluptatem, culpa non, vitae tempora voluptatibus cum, voluptas aliquid quos ut! Amet et molestiae, quod soluta maiores quos!</p>

            <h4 class="colors">Colors</h4> 
            <form class="radio-styled">
                <ul>
                    <li>
                        <input type="radio" name="color" id="blue" value="blue">
                        <span class="checkmark"></span>
                        <label for="blue"> <span class="sq"></span> Blue </label> 
                    </li>
                    <li>
                        <input type="radio" name="color" id="brown" value="brown" checked>
                        <span class="checkmark"></span>
                        <label for="brown"> <span class="sq sq2"></span> Brown</label>
                    </li>
                </ul>
            </form>
            <div class="buy"><a href="#">Buy now - $78</a></div>
        </div>

    </div>

   </div>